body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #2980b9, #55db34 ,#0ef);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 400px;
    width: 90%;
  }
  
  h1 {
    margin: 0 0 20px;
    font-size: 36px;
    color: #333;
  }
  
  .search {
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 60%;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
  }
  
  .location-btn {
    margin-top: 10px;
  }
  
  .weather-info p {
    margin: 5px 0;
  }
  
  .temperature {
    font-size: 24px;
  }
  